body {
    background: black;
}

.nav-wrapper {
    background-color: rgb(63, 169, 245);
}

#logo {
    vertical-align: top;
}

.side-nav{
    background-color: rgb(153, 156, 158);
    width: 240px;
    margin-top: 64px;
    color: white;
}
.side-nav li>a {
    color: white;
}
.side-nav p {
    margin: 0px 20px 0px;
    font-weight: bold;
}

.resultList {
    left: 240px !important;
    width: 375px;
    background-color: black;
}

#video {
    display: inline-block;
    margin-top: 100px;
    margin-left: 400px;
}

/* Styling for the collapsible */
.collapsible{
    margin-left: 40px;
    width: 375px;
    
}

.collapsible-header img {
    height: 50px;
    width: 60px;
    padding-right: 10px;
    
}

.collapsible-header{
    padding: 5px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}
.collapsible-body{
    background-color: black !important;
}


#resultsArea {
    height: auto;
    overflow: auto;
}

/* Collapsible styling ends here */

@media (max-width: 600px) {
    #logo {
      height: 56px;
    }
}